.grid{
    background-color: white;
    border: 0.1em solid black;
}
#container{
      display: inline-grid;
      grid-template-columns: repeat(16, 1em);
      grid-template-rows: repeat(16, 1em);
}
#mainDiv{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:2em;

}
*{
  background-color: #bfa58a;
  color: #800;
}
